/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --accent-text-color: #000028;
    --text-color: #f1b2ce;
    --bg-color: #000028;
    --cover-image-theme: url("../images/cover-image-dark.png");
    --decoration-outline-color: var(--accent-color);
    --decoration-outline-color-semi-transparent: #ff007066;
    --rec-visibility: visible;
  }
}

.page.theme_dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --accent-text-color: #000028;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --cover-image-theme: url("../images/cover-image-dark.png");
  --decoration-outline-color: var(--accent-color);
  --decoration-outline-color-semi-transparent: #ff007066;
  --rec-visibility: visible;
}
