/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex Mono', 'Arial', sans-serif;
  --cover-image: url("../images/cover-image.png");
  --cover-image-theme: url("../images/cover-image-light.png");
  --header-padding:20px;
  --accent-color: #FF8DCB;
  --title-color:#FFC2E6;
  --text-color: #353430;
  --accent-text-color:#353430;
  --bg-color:#FFF1F7;
  --decoration-outline-color: var(--text-color);
  --decoration-outline-color-semi-transparent: #32312D66;
  --rec-visibility: hidden;
  --content-gap:80px;
}